{% extends 'base.html' %}

{% block title %}대시보드{% endblock %}

{% block content %}
    <div class="grid-container">
        <article>
            <hgroup>
                <h2>내 프로젝트 목록</h2>
                <h3>속한 프로젝트들을 확인하세요.</h3>
            </hgroup>
            <ul>
                {% for project in projects %}
                    <li><a href="{{ url_for('project.project_detail', project_id=project.id) }}">{{ project.project_name }}</a></li>
                {% else %}
                    <li>속한 프로젝트가 없습니다.</li>
                {% endfor %}
            </ul>
            {% if current_user.role == '프로젝트 관리자' %}
                <button id="show-create-form-btn">새 프로젝트 생성</button>

                <form id="create-project-form" action="{{ url_for('project.create_project') }}" method="POST" style="display: none;">
                    <input type="text" name="project_name" placeholder="새 프로젝트 이름" required>

                    <label for="start_date">시작일</label>
                    <input type="datetime-local" id="start_date" name="start_date" value="{{ current_time }}" required>
                    <label for="end_date">종료일</label>
                    <input type="datetime-local" id="end_date" name="end_date" value="{{ current_time }}" required>

                    <button type="submit">생성하기</button>
                </form>
            {% endif %}

        </article>

        <article>
            <hgroup>
                <h2>내 작업 목록</h2>
                <h3>나에게 할당된 작업들입니다.</h3>
            </hgroup>
            <ul>
                {% for task in tasks %}
                    <li>
                        <a href="{{ url_for('project.project_detail', project_id=task.project_id) }}">
                            <strong>{{ task.name }}</strong> ({{ task.project_name }})
                        </a>
                        <small>상태: {{ task.status }}</small>
                    </li>
                {% else %}
                    <li>할당된 작업이 없습니다.</li>
                {% endfor %}
            </ul>
        </article>
    </div>
{% endblock %}